@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.scroll {
  .scrolll {
    width: 56px;
    height: 56px;
    bottom: 30px;
    right: 30px;
    background-color: #f74780;
    color: white;
    border: 1px solid #f74881;
    transition: 0.5s;
    z-index: 21;
    i {
      font-weight: 900;
    }
    &:hover {
      color: #f74780;
      background-color: white;
    }
  }
}
header {
  background-color: #f6f6fa;
  position: sticky;
  top: 0;
  z-index: 20;
  @media screen and (max-width: 767px) {
    position: static;
  }

  .head {
    i {
      color: #f74780;
      font-size: clamp(29px, 3vw, 40px);
      font-weight: 900;
      line-height: 40px;
      text-decoration: none solid rgb(247, 71, 128);
      white-space: nowrap;
      word-spacing: 0px;
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;

      h1 {
        color: #f74780;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: clamp(29px, 3vw, 40px);
        font-weight: 700;
        line-height: 48px;
        text-decoration: none solid rgb(247, 71, 128);
        white-space: nowrap;
        word-spacing: 0px;

        @media screen and (max-width: 767px) {
          font-size: 27px;
        }
      }
    }
  }

  nav {
    .nav-item {
      &:hover > .dropdown-toggle {
        color: #f74780;
      }
      &:hover > .dropdown-menu {
        display: block;
        color: brown;
      }
      .dropdown-toggle {
        font-family: Rubik, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none solid rgb(247, 71, 128);
        word-spacing: 0px;
        color: #353f4f;
        transition: 0.5s;
      }
      .dropdown-menu {
        background-color: #f6f6fa;
        .dropdown-item {
          font-family: Rubik, sans-serif;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none solid rgb(247, 71, 128);
          word-spacing: 0px;
          color: #353f4f;
          transition: 0.5s;
          &:hover {
            color: white;
            background-color: #f74780;
          }
        }
      }
      .dropdown-toggle::after {
        display: none !important;
      }
    }
    .links {
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(247, 71, 128);
      word-spacing: 0px;
      color: #353f4f;
      transition: 0.5s;

      &:hover {
        color: #f74780;
      }
    }

    .nav-link.active {
      color: #f74780;
    }
    .ziad {
      #list {
        &:hover {
          color: #f74780;
        }
        .ss {
          a {
            text-decoration: none !important;
          }
        }

        i {
          font-size: 28px;
        }
      }
    }

    .b1 {
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(247, 71, 128);
      text-align: center;
      vertical-align: middle;
      word-spacing: 0px;
      background-color: #f6f6fa;
      color: #f74780;
      padding: 8px 24px 8px 24px;
      border-radius: 800px;
      border: 1px solid #f74780;
      transition: 0.5s;

      &:hover {
        color: #f6f6fa;
        background-color: #f74780;
      }
    }

    .b2 {
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(255, 255, 255);
      text-align: center;
      vertical-align: middle;
      word-spacing: 0px;
      background-color: #f74780;
      color: #f6f6fa;
      padding: 8px 24px 8px 24px;
      border-radius: 800px;
      border: 1px solid #f74780;
      transition: 0.5s;

      &:hover {
        color: #f74780;
        background-color: #f6f6fa;
      }
    }
  }

  .dropdown {
    margin-left: 60px !important;
    .dropdown-menu {
      font-family: rubik, sans-serif;
      color: #757575;
      font-size: 16px;
      line-height: 24px;
      word-spacing: 0;
      padding: 10px 0 10px 0;
      background-color: #f6f6f6;
      width: 100vw;
      margin-top: 20px;
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
      a {
        transition: 0.5s;
        &:hover {
          color: #f74780;
          background-color: transparent;
        }
      }
    }
    .nav-item {
      &:hover > .dropdown-toggle {
        color: #f74780;
      }
      &:hover > .dropdown-menu {
        display: block;
        color: brown;
      }
      .dropdown-toggle {
        font-family: Rubik, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none solid rgb(247, 71, 128);
        word-spacing: 0px;
        color: #353f4f;
        transition: 0.5s;
      }
      .dropdown-menu {
        background-color: #f6f6fa;
        .dropdown-item {
          font-family: Rubik, sans-serif;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none solid rgb(247, 71, 128);
          word-spacing: 0px;
          color: #353f4f;
          transition: 0.5s;
          &:hover {
            color: white;
            background-color: #f74780;
          }
        }
      }
      .dropdown-toggle::after {
        display: none !important;
      }
    }
    .btn {
      &::after {
        display: none !important;
      }

      padding: 8px 20px;
      border: 1px solid #f74780 !important;
      background-color: white !important;
      border-radius: 10px;
    }
    .q {
      .b1 {
        font-family: Rubik, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none solid rgb(247, 71, 128);
        text-align: center;
        vertical-align: middle;
        word-spacing: 0px;
        background-color: #f6f6fa;
        color: #f74780;
        padding: 8px 24px 8px 24px;
        border-radius: 800px;
        border: 1px solid #f74780;
        transition: 0.5s;

        &:hover {
          color: #f6f6fa;
          background-color: #f74780;
        }
      }

      .b2 {
        font-family: Rubik, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none solid rgb(255, 255, 255);
        text-align: center;
        vertical-align: middle;
        word-spacing: 0px;
        background-color: #f74780;
        color: #f6f6fa;
        padding: 8px 24px 8px 24px;
        border-radius: 800px;
        border: 1px solid #f74780;
        transition: 0.5s;

        &:hover {
          color: #f74780;
          background-color: #f6f6fa;
        }
      }
    }
  }
}
.e404 {
  background-color: #f8f3ff;
  padding: 90px 0 90px 0;
  h1 {
    animation-duration: 1.5s;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 96px;
    text-decoration: none solid rgb(53, 63, 79);
    text-align: center;
    word-spacing: 0px;
    color: #353f4f;
    @media screen and (max-width: 767px) {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.5;
    }
  }
  p {
    animation-duration: 1.5s;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none solid rgb(53, 63, 79);
    text-align: center;
    word-spacing: 0px;
    text-decoration: none;
    color: #353f4f;
    text-decoration: none;
    @media screen and (max-width: 767px) {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
    }
  }
  a {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none solid rgb(53, 63, 79);
    text-align: center;
    word-spacing: 0px;
    text-decoration: none;
    color: #353f4f;
    text-decoration: none;
    margin-right: 7px;
    margin-left: 7px;
    @media screen and (max-width: 767px) {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
    }
  }
  .nav-link.active {
    color: #f74780;
  }
}
.error {
  animation-duration: 1.5s;
  padding: 180px 180px 100px 180px;
  @media screen and (max-width: 767px) {
    padding: 180px 20px 90px 20px;
    gap: 0 !important;
  }

  i {
    font-size: 80px;
    color: #6610f2;
    @media screen and (max-width: 767px) {
      font-size: calc(1.625rem + 4.5vw);
    }
  }
  .one {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    text-decoration: none solid rgb(53, 63, 79);
    text-align: center;
    word-spacing: 0px;
    color: #353f4f;
    @media screen and (max-width: 767px) {
      font-size: 2.9rem;
    }
  }
  .two {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    text-decoration: none solid rgb(53, 63, 79);
    text-align: center;
    word-spacing: 0px;
    color: #353f4f;
    @media screen and (max-width: 767px) {
      font-size: 1.9rem;
    }
  }
  p {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none solid rgb(117, 117, 117);
    text-align: center;
    word-spacing: 0px;
    color: #757575;
    margin-bottom: 24px;
  }
  button {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    word-spacing: 0px;
    color: white;
    background-color: #f74780;
    border: 1px solid #f74780;
    padding: 16px 48px 16px 48px;
    border-radius: 800px;
    &:hover {
      color: #f74780;
      background-color: white;
    }
  }
}
.greyy {
  background-color: #f6f6f6;
  .info {
    padding-top: 80px;
    padding-bottom: 100px;
    .infoo {
      h4 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 28.8px;
        text-decoration: none solid rgb(53, 63, 79);
        word-spacing: 0px;
        color: #353f4f;
        margin-bottom: 24px;
      }
      a {
        font-family: Rubik, sans-serif;
        font-size: 16px;
        line-height: 35px;
        text-decoration: none solid rgb(53, 63, 79);
        word-spacing: 0px;
        text-decoration: none;
        color: #353f4f;
        transition: 0.5s;
        &:hover {
          color: #f74780;

          letter-spacing: 2px;
        }
      }

      .pink {
        width: 32px;
        height: 32px;
        background-color: #f74780;
        border-radius: 50%;
        color: white;
        transition: 0.5s;
        border: 1px solid #f74780;
        &:hover {
          color: #f74780;
          background-color: white;
        }
      }
    }
  }
}
.final {
  .one {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none solid rgb(198, 57, 102);
    text-align: left;
    word-spacing: 0px;
    transition: 0.5s;
    a {
      color: #f74780;
      text-decoration: none;
      &:hover {
        color: #c63966;
      }
    }
  }
  .two {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    line-height: 24px;

    text-align: center;

    word-spacing: 0px;
    text-decoration-color: white;

    transition: 0.5s;
    a {
      color: #f74780;
      text-decoration-color: white;
      text-underline-offset: 4px;
      margin-bottom: 20px !important;
      &:hover {
        color: #c63966;
      }
    }
  }
}
