@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: aqua;

  .head {
    i {
      color: #f74780;
      font-size: clamp(29px, 3vw, 40px);
      font-weight: 900;
      line-height: 40px;
      text-decoration: none solid rgb(247, 71, 128);
      white-space: nowrap;
      word-spacing: 0px;
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;

      h1 {
        color: #f74780;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: clamp(29px, 3vw, 40px);
        font-weight: 700;
        line-height: 48px;
        text-decoration: none solid rgb(247, 71, 128);
        white-space: nowrap;
        word-spacing: 0px;

        @media screen and (max-width: 767px) {
          font-size: 27px;
        }
      }
    }
  }

  nav {
    .links {
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(247, 71, 128);
      word-spacing: 0px;
      color: #353f4f;
      transition: 0.5s;

      &:hover {
        color: #f74780;
      }
    }

    .nav-link.active {
      color: #f74780;
    }

    .list {
      &:hover {
        color: #f74780;

        &:hover .box {
          display: flex;
          flex-direction: column;
        }
      }

      a {
        font-family: Rubik, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none solid rgb(247, 71, 128);
        word-spacing: 0px;
        color: #353f4f;
        transition: 0.5s;

        &:hover {
          color: #f74780;
        }
      }

      i {
        &:hover {
          color: #f74780;
        }

        font-size: 28px;
      }

      .box {
        display: none;
      }
    }

    .b1 {
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(247, 71, 128);
      text-align: center;
      vertical-align: middle;
      word-spacing: 0px;
      background-color: #f6f6fa;
      color: #f74780;
      padding: 8px 24px 8px 24px;
      border-radius: 800px;
      border: 1px solid #f74780;
      transition: 0.5s;

      &:hover {
        color: #f6f6fa;
        background-color: #f74780;
      }
    }

    .b2 {
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(255, 255, 255);
      text-align: center;
      vertical-align: middle;
      word-spacing: 0px;
      background-color: #f74780;
      color: #f6f6fa;
      padding: 8px 24px 8px 24px;
      border-radius: 800px;
      border: 1px solid #f74780;
      transition: 0.5s;

      &:hover {
        color: #f74780;
        background-color: #f6f6fa;
      }
    }
  }

  .dropdown {
    margin-left: 60px !important;
  }

  .btn {
    &::after {
      display: none !important;
    }

    padding: 8px 20px;
    border: 1px solid #f74780 !important;
    background-color: white !important;
    border-radius: 10px;
  }
}

.herosize {
  padding-bottom: 130px;

  .hero {
    padding: 55px;
    padding-top: 98px !important;

    @media screen and (max-width: 767px) {
      padding-top: 180px !important;
    }

    .emails {
      max-width: 100%;
      animation-duration: 1s;

      h1 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 67.2px;
        text-decoration: none solid rgb(53, 63, 79);
        word-spacing: 0px;
        color: #353f4f;

        @media screen and (max-width: 767px) {
          font-size: calc(1.475rem + 2.7vw);
          font-weight: 700;
          line-height: 1.2;
        }
      }

      p {
        font-family: Rubik, sans-serif;
        font-size: 24px;
        line-height: 36px;
        text-decoration: none solid rgb(117, 117, 117);
        word-spacing: 0px;
        color: #757575;
        animation-delay: 0.5s;
        animation-duration: 1.2s;

        @media screen and (max-width: 767px) {
          font-size: calc(1.275rem + 0.3vw) !important;
          line-height: 1.5;
        }
      }

      button {
        font-family: Rubik, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none solid rgb(255, 255, 255);
        text-align: center;
        vertical-align: middle;
        word-spacing: 0px;
        background-color: #f74780;
        color: white;
        padding: 16px 48px 16px 48px;
        border: 1px solid #f8598d;
        border-radius: 800px;
        transition: 0.5s;
        animation-delay: 0.5s;
        animation-duration: 1.2s;

        &:hover {
          color: #f74780;
          background-color: white;
        }
      }
    }

    img {
      max-width: 100%;

      animation-duration: 2s;
    }
  }
}

.about {
  img {
    max-width: 100%;
  }

  .aboutus {
    max-width: 100%;

    h4 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 28.8px;
      text-decoration: none solid rgb(247, 71, 128);
      word-spacing: 0px;
      color: #f74780;

      @media screen and (max-width: 767px) {
        font-size: calc(1.275rem + 0.3vw);
      }
    }

    h1 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 57.6px;
      text-decoration: none solid rgb(53, 63, 79);
      word-spacing: 0px;
      color: #353f4f;

      @media screen and (max-width: 767px) {
        font-size: calc(1.425rem + 2.1vw);
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 30px !important;
      }
    }

    p {
      color: #757575;
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(117, 117, 117);
      word-spacing: 0px;
    }

    button {
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(255, 255, 255);
      text-align: center;
      vertical-align: middle;
      word-spacing: 0px;
      background-color: #f74780;
      color: white;
      padding: 16px 48px 16px 48px;
      border: 1px solid #f8598d;
      border-radius: 800px;
      transition: 0.5s;
      animation-delay: 0.5s;
      animation-duration: 1.2s;

      &:hover {
        color: #f74780;
        background-color: white;
      }
    }
  }
}

.ourservice {
  margin-top: 170px;

  @media screen and (max-width: 767px) {
    margin-top: 150px;
  }

  .ahmed {
    h4 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 28.8px;
      text-decoration: none solid rgb(70, 47, 54);
      word-spacing: 0px;
      color: #f74780;

      @media screen and (max-width: 767px) {
        font-size: calc(1.275rem + 0.3vw);
      }
    }

    h1 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 57.6px;
      text-decoration: none solid rgb(53, 63, 79);
      word-spacing: 0px;
      color: #353f4f;

      @media screen and (max-width: 767px) {
        font-size: calc(1.425rem + 2.1vw);
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 30px !important;
      }
    }

    p {
      color: #757575;
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(117, 117, 117);
      word-spacing: 0px;
    }
  }
}

.cards1 {
  .card {
    text-align: center;
    word-spacing: 0px;

    background-color: white;
    transition: 0.5s;
    outline: rgb(117, 117, 117) dashed 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 45px 0px;
    border-radius: 10px;
    padding: 24px;
    border: none !important;
    &:hover {
      background-color: #8080802b;
    }
    &:hover > div {
      background-color: white;
    }
    &:hover > button {
      background-color: white;
    }

    div {
      border-radius: 10px;
      padding: 24px;
      outline: rgb(117, 117, 117) dashed 0px;
      background-color: #f6f6fa;
      transition: 0.5s;

      i {
        color: #6610f2;

        font-size: 80px;
        font-weight: 900;
        line-height: 80px;
      }
    }
    h4 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 28.8px;
      text-decoration: none solid rgb(53, 63, 79);
      text-align: center;
      word-spacing: 0px;
      color: #353f4f;
    }
    p {
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(117, 117, 117);
      text-align: center;
      word-spacing: 0px;
      color: #757575;
    }
    button {
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(247, 71, 128);
      text-align: center;
      vertical-align: middle;
      word-spacing: 0px;
      background-color: #f6f6fa;
      color: #f74780;
      border: 1px solid #f6f6fa;
      padding: 8px 24px 8px 24px;
      border-radius: 800px;
      transition: 0.5s;
      outline: rgb(247, 71, 128) dashed 0px;
      &:hover {
        color: white;
        background-color: #f74780;
      }
    }
  }
}

.ourfeature {
  margin-top: 170px;

  @media screen and (max-width: 767px) {
    margin-top: 150px;
  }

  .ahmed {
    h4 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 28.8px;
      text-decoration: none solid rgb(70, 47, 54);
      word-spacing: 0px;
      color: #f74780;

      @media screen and (max-width: 767px) {
        font-size: calc(1.275rem + 0.3vw);
      }
    }

    h1 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 57.6px;
      text-decoration: none solid rgb(53, 63, 79);
      word-spacing: 0px;
      color: #353f4f;

      @media screen and (max-width: 767px) {
        font-size: calc(1.425rem + 2.1vw);
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 30px !important;
      }
    }

    p {
      color: #757575;
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(117, 117, 117);
      word-spacing: 0px;
    }
  }
}

.cards2 {
  .card {
    text-align: center;
    word-spacing: 0px;

    background-color: white;
    transition: 0.5s;
    outline: rgb(117, 117, 117) dashed 0px;

    border-radius: 10px;
    padding: 15px;
    border: none !important;

    div {
      border-radius: 10px;
      padding: 24px;
      outline: rgb(117, 117, 117) dashed 0px;
      background-color: #f6f6fa;
      transition: 0.5s;

      i {
        color: #6610f2;

        font-size: 80px;
        font-weight: 900;
        line-height: 80px;
      }
    }
    .arrow {
      background-color: white;

      a {
        text-decoration: none;

        &:hover > h4 {
          color: #c63966;
        }
        &:hover > i {
          color: #c63966;
        }
        h4 {
          font-family: "Plus Jakarta Sans", sans-serif;
          font-size: 24px;
          font-weight: 500;
          line-height: 28.8px;
          text-decoration: none solid rgb(53, 63, 79);
          text-align: center;
          word-spacing: 0px;
          color: #353f4f;
          @media screen and (max-width: 767px) {
            font-size: calc(1.275rem + 0.3vw);
          }
        }
        i {
          font-size: 16px;
          font-weight: 900;
          line-height: 24px;
          text-decoration: none solid rgb(198, 57, 102);
          text-align: center;
          word-spacing: 0px;
          color: #353f4f;
        }
      }
    }
    p {
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(117, 117, 117);
      text-align: center;
      word-spacing: 0px;
      color: #757575;
    }
  }
}

.buttonn {
  button {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    word-spacing: 0px;
    border: 1px solid #f74780;
    padding: 16px 48px 16px 48px;
    border-radius: 800px;
    outline: rgb(255, 255, 255) dashed 0px;
    transition: 1s;
    background-color: #f74780;
    color: white;
    &:hover {
      color: #f74780;
      background-color: white;
    }
  }
}

.users {
  padding-top: 180px !important;
  padding-bottom: 110px !important;

  .feature {
    h4 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 28.8px;
      text-decoration: none solid rgb(247, 71, 128);
      word-spacing: 0px;
      color: #f74780;
      @media screen and (max-width: 767px) {
        font-size: calc(1.275rem + 0.3vw);
      }
    }
    h1 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 57.6px;
      text-decoration: none solid rgb(53, 63, 79);
      word-spacing: 0px;
      color: #353f4f;
      @media screen and (max-width: 767px) {
        font-size: calc(1.425rem + 2.1vw);
        font-weight: 700;
        line-height: 1.2;
      }
    }
    p {
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(117, 117, 117);
      word-spacing: 0px;
      color: #757575;
    }
    .nums {
      display: flex;
      flex-direction: row;
      gap: 100px;
      @media screen and (max-width: 767px) {
        gap: 25px;
      }
      .icon {
        i {
          font-size: 64px;
          color: #6610f2;
        }
        .small {
          display: flex;
          flex-direction: column;

          h2 {
            font-family: "Plus Jakarta Sans", sans-serif;
            font-size: 32px;
            font-weight: 700;
            line-height: 38.4px;
            text-decoration: none solid rgb(53, 63, 79);
            word-spacing: 0px;
            color: #353f4f;
            @media screen and (max-width: 767px) {
              font-size: calc(1.325rem + 0.9vw);
              font-weight: 700px;
            }
          }
          small {
            font-family: Rubik, sans-serif;
            font-size: 14px;
            line-height: 21px;
            text-decoration: none solid rgb(53, 63, 79);
            word-spacing: 0px;
            color: #353f4f;
            margin: 0 !important;
          }
        }
      }
    }
    button {
      margin-top: 20px;
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(255, 255, 255);
      text-align: center;
      vertical-align: middle;
      word-spacing: 0px;
      border: 1px solid #f74780;
      padding: 16px 48px 16px 48px;
      color: white;
      background-color: #f74780;
      border-radius: 800px;
      transition: 0.5s;
      &:hover {
        color: #f74780;
        background-color: white;
      }
    }
  }
}

.accordio {
  background-color: #f6f6fa;
  padding-top: 90px;
  padding-bottom: 96px;
  .zizo {
    .accordion-button {
      background-color: white;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 19.2px;
      text-decoration: none solid rgb(117, 117, 117);
      text-align: left;
      word-spacing: 0px;
      padding: 16px 20px 16px 20px;
      color: #757575;
      border: none !important;
    }
    .accordion-item:has(.accordion-collapse.show) {
      background-color: white;
    }
    .accordion-button:not(.collapsed) {
      background-color: #feedf2;
      color: #de4073;
      border: 30px solid red;
    }
    .accordion-button:not(.collapsed)::after {
      filter: brightness(0) saturate(100%) invert(26%) sepia(96%) saturate(480%)
        hue-rotate(290deg);
    }
    .accordion-button.collapsed::after {
      filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(0%)
        hue-rotate(0deg);
    }

    .accordion-body {
      h5 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        text-decoration: none solid rgb(53, 63, 79);
        word-spacing: 0px;
        color: #353f4f;
      }
      p {
        font-family: Rubik, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none solid rgb(117, 117, 117);
        word-spacing: 0px;
        color: #757575;
      }
    }
  }
}

.pricing {
  margin-top: 100px;

  @media screen and (max-width: 767px) {
    margin-top: 80px;
  }

  .ahmed {
    h4 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 28.8px;
      text-decoration: none solid rgb(70, 47, 54);
      word-spacing: 0px;
      color: #f74780;

      @media screen and (max-width: 767px) {
        font-size: calc(1.275rem + 0.3vw);
      }
    }

    h1 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 57.6px;
      text-decoration: none solid rgb(53, 63, 79);
      word-spacing: 0px;
      color: #353f4f;

      @media screen and (max-width: 767px) {
        font-size: calc(1.425rem + 2.1vw);
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 30px !important;
      }
    }

    p {
      color: #757575;
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(117, 117, 117);
      word-spacing: 0px;
    }
  }
}

.prices {
  .basic {
    border-radius: 10px;
    background-color: #f6f6fa;
    transition: 0.5s;
    &:hover {
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.1) 6px -7px 20px 10px;
    }

    .upper {
      border-bottom: 1px solid #dee2e6;

      .par {
        p {
          font-family: Rubik, sans-serif;
          font-size: 32px;
          font-weight: 700;
          line-height: 48px;
          text-decoration: none solid rgb(53, 63, 79);
          text-align: center;
          text-transform: uppercase;
          word-spacing: 0px;
          color: #353f4f;
          @media screen and (max-width: 767px) {
            font-size: calc(1.325rem + 0.9vw) !important;
            font-weight: 700 !important;
          }
        }
      }
      .price {
        strong {
          font-family: Rubik, sans-serif;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-decoration: none solid rgb(53, 63, 79);
          text-align: center;
          word-spacing: 0px;
          color: #353f4f;
        }
        p {
          font-family: Rubik, sans-serif;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none solid rgb(53, 63, 79);
          text-align: center;
          word-spacing: 0px;
          color: #353f4f;
          span {
            font-family: Rubik, sans-serif;
            font-size: 48px;
            font-weight: 700;
            line-height: 57.6px;
            text-decoration: none solid rgb(53, 63, 79);
            text-align: center;
            word-spacing: 0px;
            color: #353f4f;
            @media screen and (max-width: 767px) {
              font-size: calc(1.425rem + 2.1vw);
              font-weight: 700;
              line-height: 1.2;
            }
          }
        }
      }
    }
    .list {
      .true {
        li {
          &::before {
            content: "✔";
            color: #198754;
            font-weight: 900;
            font-size: 16px;
            line-height: 16px;
            display: inline-block;
            width: 1.5em;

            text-align: left;
          }
          font-family: Rubik, sans-serif;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none solid rgb(117, 117, 117);
          text-align: left;
          word-spacing: 0px;
          color: #757575;
          margin: 0 0 16px 0;
          list-style: none;
          padding-left: 0;
        }
      }
      .wrong {
        li {
          &::before {
            content: "✖";
            color: #dc3545;
            font-weight: 900;
            font-size: 16px;
            line-height: 16px;
            display: inline-block;
            width: 1.5em;

            text-align: left;
          }
          font-family: Rubik, sans-serif;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none solid rgb(117, 117, 117);
          text-align: left;
          word-spacing: 0px;
          color: #757575;
          margin: 0 0 16px 0;
          list-style: none;
          padding-left: 0;
        }
      }

      button {
        font-family: Rubik, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none solid rgb(247, 71, 128);
        text-align: center;
        vertical-align: middle;
        word-spacing: 0px;
        color: #f74780;
        background-color: #f6f6fa;
        border: 1px solid #f6f6fa;
        padding: 8px 48px 8px 48px;
        border-radius: 800px;
        transition: 0.5s;
        &:hover {
          color: white;
          background-color: #f74780;
        }
      }
    }
  }
  .basicc {
    border-radius: 10px;
    background-color: #f6f6fa;
    transition: 0.5s;
    position: relative;
    &:hover {
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.1) 6px -7px 20px 10px;
    }

    .upperr {
      border-bottom: 1px solid #dee2e6;

      .popular {
        position: absolute;
        width: 200px;
        height: 110px;
        top: -45px;
        right: -80px;
        color: white;
        background-color: #f74780;
        transform: rotate(42deg);
        display: flex;
        align-items: end;
        justify-content: center;

        p {
          font-family: Rubik, sans-serif;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none solid rgb(255, 255, 255);
          text-align: center;
          word-spacing: 0px;
          margin-bottom: 10px !important;
        }
      }
      .par {
        p {
          font-family: Rubik, sans-serif;
          font-size: 32px;
          font-weight: 700;
          line-height: 48px;
          text-decoration: none solid rgb(53, 63, 79);
          text-align: center;
          text-transform: uppercase;
          word-spacing: 0px;
          color: #353f4f;
          @media screen and (max-width: 767px) {
            font-size: calc(1.325rem + 0.9vw) !important;
            font-weight: 700 !important;
          }
        }
      }
      .price {
        strong {
          font-family: Rubik, sans-serif;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-decoration: none solid rgb(53, 63, 79);
          text-align: center;
          word-spacing: 0px;
          color: #353f4f;
        }
        p {
          font-family: Rubik, sans-serif;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none solid rgb(53, 63, 79);
          text-align: center;
          word-spacing: 0px;
          color: #353f4f;
          span {
            font-family: Rubik, sans-serif;
            font-size: 48px;
            font-weight: 700;
            line-height: 57.6px;
            text-decoration: none solid rgb(53, 63, 79);
            text-align: center;
            word-spacing: 0px;
            color: #353f4f;
            @media screen and (max-width: 767px) {
              font-size: calc(1.425rem + 2.1vw);
              font-weight: 700;
              line-height: 1.2;
            }
          }
        }
      }
    }
    .list {
      .true {
        li {
          &::before {
            content: "✔";
            color: #198754;
            font-weight: 900;
            font-size: 16px;
            line-height: 16px;
            display: inline-block;
            width: 1.5em;

            text-align: left;
          }
          font-family: Rubik, sans-serif;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none solid rgb(117, 117, 117);
          text-align: left;
          word-spacing: 0px;
          color: #757575;
          margin: 0 0 16px 0;
          list-style: none;
          padding-left: 0;
        }
      }
      .wrong {
        li {
          &::before {
            content: "✖";
            color: #dc3545;
            font-weight: 900;
            font-size: 16px;
            line-height: 16px;
            display: inline-block;
            width: 1.5em;

            text-align: left;
          }
          font-family: Rubik, sans-serif;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none solid rgb(117, 117, 117);
          text-align: left;
          word-spacing: 0px;
          color: #757575;
          margin: 0 0 16px 0;
          list-style: none;
          padding-left: 0;
        }
      }

      button {
        font-family: Rubik, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none solid rgb(247, 71, 128);
        text-align: center;
        vertical-align: middle;
        word-spacing: 0px;
        color: #f74780;
        background-color: #f6f6fa;
        border: 1px solid #f6f6fa;
        padding: 8px 48px 8px 48px;
        border-radius: 800px;
        transition: 0.5s;
        &:hover {
          color: white;
          background-color: #f74780;
        }
      }
    }
  }
}
.ourblog {
  margin-top: 170px;

  @media screen and (max-width: 767px) {
    margin-top: 150px;
  }

  .ahmed {
    h4 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 28.8px;
      text-decoration: none solid rgb(70, 47, 54);
      word-spacing: 0px;
      color: #f74780;

      @media screen and (max-width: 767px) {
        font-size: calc(1.275rem + 0.3vw);
      }
    }

    h1 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 57.6px;
      text-decoration: none solid rgb(53, 63, 79);
      word-spacing: 0px;
      color: #353f4f;

      @media screen and (max-width: 767px) {
        font-size: calc(1.425rem + 2.1vw);
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 30px !important;
      }
    }

    p {
      color: #757575;
      font-family: Rubik, sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none solid rgb(117, 117, 117);
      word-spacing: 0px;
    }
  }
}
.pics {
  .first {
    .img {
      background-color: #c7a9fa;
      border-radius: 10px 10px 0 0;
      position: relative;
      &:hover img {
        transform: scale(1.3);
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      .pos {
        position: absolute;
        z-index: 4;
        bottom: 9px;
        i {
          font-size: 16px;
          font-weight: 900;
          line-height: 16px;
          text-decoration: none solid rgb(255, 255, 255);
          word-spacing: 0px;
          color: white !important;
        }
        p {
          font-family: Rubik, sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          text-decoration: none solid rgb(255, 255, 255);
          word-spacing: 0px;
          color: white;
        }
      }
      img {
        transition: transform 0.5s;
      }
    }
    .data {
      border: 1px solid #dee2e6;
      border-radius: 0 0 10px 10px;
      h5 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        text-decoration: none solid rgb(53, 63, 79);
        word-spacing: 0px;
        color: #353f4f;
        margin: 0 0 24px 0;
      }
      p {
        font-family: Rubik, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none solid rgb(53, 63, 79);
        word-spacing: 0px;
        color: #353f4f;
        margin: 0 0 24px 0;
      }
      button {
        font-family: Rubik, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none solid rgb(247, 71, 128);
        text-align: center;
        vertical-align: middle;
        word-spacing: 0px;
        background-color: #f6f6fa;
        color: #f74780;
        border: 1px solid #f6f6fa;
        padding: 8px 24px 8px 24px;
        border-radius: 800px;
        transition: 0.5s;
        &:hover {
          color: white;
          background-color: #f74780;
        }
      }
    }
  }
}

.swiper {
  background-color: #f6f6fa;
  .testimonial {
    margin-top: 110px;
    padding-top: 100px;

    @media screen and (max-width: 767px) {
      margin-top: 100px;
    }

    .ahmed {
      h4 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 28.8px;
        text-decoration: none solid rgb(70, 47, 54);
        word-spacing: 0px;
        color: #f74780;

        @media screen and (max-width: 767px) {
          font-size: calc(1.275rem + 0.3vw);
        }
      }

      h1 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 57.6px;
        text-decoration: none solid rgb(53, 63, 79);
        word-spacing: 0px;
        color: #353f4f;

        @media screen and (max-width: 767px) {
          font-size: calc(1.425rem + 2.1vw);
          font-weight: 700;
          line-height: 1.2;
          margin-bottom: 30px !important;
        }
      }

      p {
        color: #757575;
        font-family: Rubik, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none solid rgb(117, 117, 117);
        word-spacing: 0px;
      }
    }
  }
}
.grey {
  background-color: #f6f6f6;
  .carousel {
    .carousel-indicators {
      img {
        border-radius: 50%;
        object-fit: cover;
        transition: 0.1s;
        &:active {
          border: 4px solid #6610f2;
          transform: scale(1.2);
        }
      }
    }
    .carousel-item {
      margin-bottom: 120px;
      @media screen and (max-width: 767px){
        margin-bottom: 120px !important;
      }
      .pic {
        width: 100px;
        height: 100px;
        border: 2px solid #f74780;
        border-radius: 50%;
      }
      .info {
        h5 {
          font-family: "Plus Jakarta Sans", sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
          text-decoration: none solid rgb(53, 63, 79);
          text-align: center;
          word-spacing: 0px;
          color: #353f4f;
          margin: 0 0 8px 0;
        }
        p {
          font-family: Rubik, sans-serif;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none solid rgb(117, 117, 117);
          text-align: center;
          word-spacing: 0px;
          color: #757575;
          font-weight: 200;
        }
      }
      .par {
        padding-left: 150px;
        padding-right: 150px;
        @media screen and (max-width: 767px){
          padding-left: 20px;
        padding-right: 20px;
        }
        p {
          font-family: Rubik, sans-serif;
          font-size: 20px;
          font-weight: 300;
          line-height: 30px;
          text-decoration: none solid rgb(117, 117, 117);
          text-align: center;
          word-spacing: 0px;
          margin: 0 !important;
          color: #757575;
          @media screen and (max-width: 767px) {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            font-family: "Rubik", sans-serif;
          }
        }
      }
    }
    .carousel-control-prev {
      .arrow {
        z-index: 10;
        width: 65px;
        height: 65px;
        border-radius: 40px;
        background-color: #f6f6f6;
        &:hover {
          color: white;
          background-color: #f74780;
        }
        &:hover i {
          color: white;
        }
        i {
          color: #f74780;
        }
      }
      @media screen and (max-width : 767px) {
        margin-bottom: 460px;
      }
    }
    .carousel-control-next {
      .arrow {
        z-index: 10;
        width: 65px;
        height: 65px;
        border-radius: 40px;
        background-color: #f6f6f6;
        &:hover {
          color: white;
          background-color: #f74780;
        }
        &:hover i {
          color: white;
        }
        i {
          color: #f74780;
        }
        @media screen and (max-width : 767px) {
        margin-bottom: 460px;
      }
      }
    }
  }
}
